#score {
    position: absolute;
    top: 10px;
    left: 550px;
    font-size: 25px
}

.box {
    border: 1px solid;
    height: 100%;
    width: 100%;
    font-size: 0;

    background: white;
    transition: transform 0.2s;
}

.later1 {
    display: grid;
    grid-template-rows: 410px;
    grid-template-columns: 60px 405px 60px;
}

#cont {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

#lf {
    background: rgb(111, 187, 218, 0.6);

    padding: 210px 10px;
    color: red;
    font-size: 20px;

}

#rt {
    background: rgb(111, 187, 218, 0.6);
    padding: 210px 10px;
    color: red;
    font-size: 20px;
    left: 500px
}

#rot {
    position: absolute;
    top: 490px;
    padding: 10px 257px;
    background: rgb(226, 148, 148);
}

#dr {
    position: absolute;
    top: 530px;
    padding: 10px 261px;
    background: green;
}

#ev {
    width: 100%;
}